:root {
  --linkColor: #000;
  --linkHoverColor: #f7b600;
  --linkActiveColor: #b52e31;
  --headerHeight: 50px;
  --headerBgColor: #1976d2;
  --footerBgColor: #181818;
  --footerHeight: 45px;
  --lightTextColor: #fff;
  --darkTextColor: #000;
  --errorColor: red;
  --successColor: green;
  --borderColor: #0f0c0c;
}
