div {
  cursor: pointer;
  color: var(--lightTextColor);
  height: 200px;
  width: 200px;
  border: 2px solid var(--borderColor);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
