@import "../../../styles/mixins.scss";

div {
  cursor: pointer;
  color: var(--lightTextColor);
  height: 200px;
  width: 200px;
  border: 2px solid var(--borderColor);
  @include alignCenter;

  h4 {
    @include alignCenter;
  }
}
