<h2>Главная страница</h2>
<hr>
<p>
  Это приложение для изучения основных возможностей фрэймворка Angular. <br>
  При создании приложения были рассмотрены основные темы:
</p>
<pre>
  - Директивы
  - Пайпы
  - Сервисы
  - Роутинг, lazyLoading старниц
  - Защита роутовa (создание guard-ов)
  - Формы, реактивные формы и взаимодействие с ними
  - Модули, создание собственных модулей
  - HttpClient (асинхрнная работа с сервером)
  - Анимации в Angular
</pre>
<hr>
<p>
  Благодаря данному приложению я изучил основные аспекты работы с Angular.
  Далее планирую делать более крупный проект для укрепления полученных навыков.
</p>
